
/* navbar css */
.page-container{
  background-color: antiquewhite;
    /* max-width: 1440px; */
    margin: 0 auto; 
    padding-left:  90px;
}
.navbar {
  background-color: #f4f2f1;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 .navbar-brand {
  margin: 0 auto; 
  padding: 0 30px; 
  font-weight: 400;
  text-decoration: none;
}

.nav-item {
  display: inline-flex;
  justify-content: flex-end; 
  margin: 0 auto; 
  padding: 0 20px;
  align-items: center;
  gap:30px;
 
}

.nav-link {
  color: #FF800B;
  text-decoration: none;
  transition: color 0.3s;
  justify-content: space-between;
  
  margin-right: 30px;
}

.nav-link:hover {
  color: #e97a0b;
  background-color:#25282B;
  transform: scale(1.3);
}
/*home css*/
.home-title{
color: var(--font-high-emphasis, #25282B);
font-family: Playfair Display;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 120%; 

}

.home-profession{
  color: var(--brand-orange, #FF800B);
  font-family: Nunito;
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.button-cv{
  display: flex;
padding: 8px 24px;
align-items: flex-start;
border-radius: 8px;
background: var(--brand-orange, #FF800B);

}
.home-img{
  width: 589px;
height: 549px;
margin-top: 20px;
flex-shrink: 0;
border-radius: 50px;
justify-content: flex-end;
}

.home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
  
}

.home-text {
  flex: 2;
  font-size:3ch;
}
.home-text-info{
  flex: 2;
  margin-top: 10px;
  
}

.home-img-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

/*footer css */
.footer {
  background-color:  #f4f2f1;
  padding: 30px 0;
  text-align: center;
  /* margin-top: 6ch; */
}

.footer p {
  margin: 0;
  font-size: 20px;
  color: #555;
  
}
/*about css*/
.about{
  background-color: antiquewhite;
}
.about-img-container {
  flex: 1;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end; 
  align-items: flex-end;
  padding: 10px;
  max-width: 200px;

}
.about-img{
  max-width: 300%; 
  height: 500px;
  border-radius: 20px;
 

}

.about-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1350px;
  
  padding: 10px;
}

.about-content {
  padding-left: 90px;
  display: flex;
  flex-direction: column;
}

.about-section {
  
  color: var(--bg-line, #25282B);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 190%;
  width: 690px;

}

.card-content {
  color: #000;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 72px;
  margin-left: 90px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  height: 200px;
}

.card {
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
  font-size: 20px;
  font-family: Poppins;
  height: 200px;

} 

.card h4{
 color: #FF800B;
padding-left: 10px;
}
.card-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {} 

